.container {
  background-image: url(http://www.designbolts.com/wp-content/uploads/2013/02/Golf-Shirt-Grey-Seamless-Pattern-For-Website-Background.jpg);
}

/*styling for elements*/
#story li {
  clear: left;
}
 h1 {
   margin: auto;
 }
 h2 {
   background-color: #77bc4f;
 }
 button {
   float: right;
   background-color:#77bc4f;
   clear: both;
 }
.well {
  overflow: auto;
}
/*styling for images*/
.lstar {
  width: 60%;
  height: auto;
}
.rstar {
  width: 60%;
  height: auto;
  float: right;
}
img {
  width: 100%;
  height: auto;
}
.icon {
  width: 100px;
  height: auto;
}
.rsmall {
  width: 150px;
  height: auto;
  float: right;
}
.lsmall {
  padding: 5px;
  width: 120px;
  height: auto;
  float: left;
}
.beach {
  width: 50%;
  height: auto;
}
/*styling for sections*/
.jumbotron {
  background: #8a8c83; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#8a8c83, #77bc4f, #8a8c83); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8a8c83, #77bc4f, #8a8c83); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8a8c83, #77bc4f, #8a8c83); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8a8c83, #77bc4f, #8a8c83); /* Standard syntax */
}
.col-sm-6 {
border-left: 1px solid #8a8c83;
border-right: 1px solid #8a8c83;
}
/*misc styling for spans etc*/
.teal {
  color: #4fa8bc;
  font-weight: bold;
}
.purple {
  color: #7a0cc9;
  font-weight: bold;
}
.gray {
  color: #6f6f70;
  font-weight: bold;
}
